.container{
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
}
.Name{
    background-color: whitesmoke;
    padding: 20px;
    font-size: 40px;
    font-weight: 100;

}
.info{
    background-color: black;
    color: white;
    padding: 20px;
}
.Provider{
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Email{
    margin-bottom: 10px;
}
.logout{
    border-radius: 20px;
    background-color: rgb(241, 15, 15);
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Options{
    margin-top: 100px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.Options Link{
    width: 100%;
    background-color: black;
    padding: 20px;
    min-width: 300px;
    /* border-radius: 42px; */
    color: white;
    font-size: 40px;
    font-weight: 100;
}


.Options button{
    /* margin: 10px; */
    width: 100%;
    background-color: black;
    padding: 20px;
    min-width: 300px;
    /* border-radius: 42px; */
    color: white;
    font-size: 40px;
    font-weight: 100;
}

.username{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username img{
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}