.nav{
    margin: 20px;
    display: flex;
    gap: 20px;
}
.nav span{
    background-color: black;
    border-radius: 22px;
    padding: 10px;
    color: white;
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.search{
    margin: 20px;
}
.search form{
    display: flex;
    gap: 20px;
}
.search input{
    background-color: rgb(238, 238, 238);
    border-radius: 12px;
    height: 40px;
}
.search input{
    outline: none;
    padding-left: 10px;
}

.prod{
    margin: 20px;
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 20px;
    border-radius: 22px;
    display: flex;
    font-size: 20px;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}
.prod span{
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 12px;
    padding: 10px;
}
.prod select{
    background-color: transparent;
}
/* animation */
.anim{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    /* backdrop-filter: blur(9px); */
    background-color: rgba(0, 0, 0, 0.822);
}


/* From Uiverse.io by aryamitra06 */ 
.loader {
    display: flex;
    align-items: center;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }
  
  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }


  .failed{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .failed span{
    font-size: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    border-radius: 12px;
    justify-content: left;
  }
  .failed button{
    cursor: pointer;
  }